<div class="card mb-3" style="width: 18rem;">
  <div class="card-body">
    <h1 class="card-title text-center">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <app-text-input
          type="email"
          formControlName="email"
          [messages]="{
            email: loginForm.controls.email.invalid && loginForm.controls.email.touched ?'Please provide a valid email.' : null
          }"
        >
        </app-text-input>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <app-text-input
          type="password"
          formControlName="password"
          [messages]="{
            password: loginForm.controls.password.invalid && loginForm.controls.password.touched ?'Please provide a valid email.' : null
          }"
        >
        </app-text-input>
      </div>

      <button type="submit" class="btn btn-warning w-100" [disabled]="loginForm.invalid">
        <span *ngIf="!loading">Login</span>
        <div *ngIf="loading" class="spinner-border text-dark" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
    </form>
  </div>
</div>
