<div class="card mb-3" style="width: 18rem;">
  <div class="card-body">
    <h1 class="card-title text-center">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" id="email" [ngClass]="{
          'form-control': true,
          'is-invalid': loginForm.controls.email.invalid && loginForm.controls.email.touched
        }" formControlName="email" placeholder="name@example.com">
      </div>
      <div class="text-danger" *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
        Please provide a valid email.
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          [ngClass]="{
            'form-control': true,
            'is-invalid': loginForm.controls.password.invalid && loginForm.controls.password.touched
          }" formControlName="password" id="password" />
      </div>
      <div class="text-danger" *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
        Please provide a valid password.
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">
        <span *ngIf="!loading">Login</span>
        <div *ngIf="loading" class="spinner-border text-light" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
    </form>
  </div>
</div>
