<div class="container mt-3 mb-4 h-100">
  @if(loading) {
    <app-loading-spinner [styles]="{width: '4rem', height: '4rem'}"></app-loading-spinner>
  }
  @if(!loading && (userService.users$ | async); as users) {
    <div class="row g-3">
      <div class="col-md-3 col-sm-6" *ngFor="let user of (userService.users$ | async);">
        <app-user-card
          [user]="user"
          (click)="goToUserDetailsPage(user.id)"
          (onDelete)="onUserDeleted($event)"
          (onEdit)="onEdit($event)"
        />
      </div>
    </div>
  }
</div>

<app-pagination #pagination></app-pagination>
