:host {
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  padding: 10px;
  cursor: pointer;
  min-height: 250px;
  border: 1px solid transparent;
  transform: scale(1);
  transition: border-color 0.2s, transform 0.2s;
  &:hover {
    transform: scale(1.05);
  }

  .user-details, .details-container {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }

  .user-details {
    align-items: center;
    font-size: 14px;
  }
  .img-container img {
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 2px;
    width: 110px;
    height: 110px;
    object-fit: cover;
  }
}

.btn-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  img {
    width: 100%;
    height: 100%;
  }
}
