:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  gap: 1rem
}

.user-details {
  width: 100%;
  max-width: 400px;
  align-self: center;
}

.img-container {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  padding: 1px;
  border: 1px solid #ccc;
  img {
    border-radius: 10px;
    object-fit: cover;
  }
}

.user-info {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

.info {
  font-size: 1.2rem;
}
