.header {
  background-color: var(--bs-indigo);
  height: 60px;
  color: var(--text-color);
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .search {
      margin-right: 1rem;
    }
  }
}

.active {
  color: #F2B810 !important
}

.link-item {
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    text-decoration: underline;
  }
}
