/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body,html, app-root {
  height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
}

